*{margin : 0px; padding : 0px; transition : 2s;}
body{
    background-color: #5F5F5F;
    overflow-y: hidden;
}
Header{
    width: 1600px;
    height: 150px;
    background-color: #5F5F5F;
    
    margin : 0 auto;
}
Header span{
    text-align : left;
    line-height : 150px;
    font-size : 7em;
    color : #D9D9DA;
    font-family : fantasy;
}
        
nav ul{
    list-style : none;
    float : right;
    margin-top : -40px;
    margin-right: 40px;
}
nav li {
    text-align : center;
    float : left;
            
    font-size : 20px;
}
nav li:after {content : "|"; margin : 30px;}
nav li:last-child:after {content : none;}
        
section{
    width: 1600px;
    height: 750px;
    border : 10px solid #AAAAAA;
            
    margin : 0 auto;
    margin-top : 10px;
            
    font-size : 60px;
    color : #281277;
}
article{
    width: 470px;
    height: 750px;
}
#ss_logo{
    border-top: 5px solid black;
    border-bottom : 5px solid black;
    
    margin-left  : 130px;
    margin-top : 80px;
    padding : 20px;
    display : inline-block;
            
    text-align : center;
    line-height: 50px;
    font-family : fantasy;
    color : #281277;
    
    transition : 2s;
}